<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">


<div class="container" [ngClass]="{'blur': blurPage, 'container': true}">
         
         <div class="container" id="main-container" [ngClass]="{'blur': blurPage, 'container': true}">
            <div class="row">

               <!-- ********** consommation du filtre*********** -->
               <div class="my-2">
                  <div class="row">
                        <div class="col-md-4">
                           <span class="filter"><b>Using Filter: </b></span>
                           
                        </div>
                        <div class="col-md-8 form-group">
                           <input type="search" (ngModelChange)="searchVisitors(key.value)" #key="ngModel" ngModel
                           name="key" id="searchName" class="form-control" placeholder="typing..." required>
                        </div>
                  </div>
               </div> 

                  <!-- afficher les cartes de visiteurs -->
                  <div *ngFor="let visitor of visitors" class="col-md-6 col-xl-3">
                     <div class="card mb-3">
                        <div class="card-body row">
                              <div class="col-6">
                                 <a href=""><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" class="img-fluid rounded-circle w-100"></a>
                              </div>
                              <div class="col-6 card-title align-self-center mb-0">
                                 <h5>{{visitor.lastName}} <span>{{visitor.firstName}}</span></h5>
                                 <p class="m-0">{{visitor.address}}</p>
                              </div>
                        </div>
                        <ul class="list-group list-group-flush">
                              <li class="list-group-item"><i class="fa fa-envelope float-end"></i>Email : <a href="mailto:PaulGoyette@gmail.com">{{visitor.email}}</a></li>
                              <li class="list-group-item"><i class="fa fa-phone float-end"></i>{{visitor.phone}}</li>
                              
                              <div class="card-body">
                                 <div class="float-end">
                                    <a (click)="onOpenModal(visitor, 'edit')" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="fa fa-pencil text-white"></i></a>
                                    <a (click)="onOpenModal(visitor, 'delete')"class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="fa fa-times text-white"></i></a>
                                 </div>
                                 <ul class="social-links list-inline mb-0">
                                    <li class="list-inline-item"><a href="#" class="tooltips" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="tooltips" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="tooltips" data-bs-toggle="tooltip" data-bs-placement="top" title="Skype"><i class="fa fa-skype"></i></a></li>
                                 </ul>
                              </div>
                        </ul>
                        
                     </div>
                  </div>
                  <!-- Ajoutez les autres cartes ici -->
            </div>
         </div>
      <!-- pagination pour visiteur -->
         
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>

      <!-- boutton d'ajoute pour visiteur -->
         <a class="nav-link" (click)="onOpenModal(null, 'add')"> 
                     <span class="material-icons bg-danger text-white p-2 rounded-pill btn-info position-fixed bottom-0 end-0 mb-4 me-4" 
                           style="z-index: 1000; cursor: pointer; font-size: 24px;">
                              add
                     </span>
         </a>

      <!-- Add visitor Modal -->
      <div class="modal fade" id="addVisitorModal" tabindex="-1" role="dialog" aria-labelledby="addVisitorModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="addVisitorModalLabel">Add Visitor</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseModal()">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <form #addForm="ngForm" (ngSubmit)="onAddVisitor(addForm)">
                  <div class="form-group">
                     <label for="firstName">First Name</label>
                     <input type="text" ngModel name="firstName" class="form-control" id="firstname" placeholder="First Name" required>
                  </div>
                  <div class="form-group">
                     <label for="lastName">Last Name</label>
                     <input type="text" ngModel name="lastName" class="form-control" id="lastName" placeholder="Last Name" required>
                  </div>
                  <div class="form-group">
                     <label for="email">Email</label>
                     <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Email" required>
                  </div>
                  <div class="form-group">
                     <label for="phone">Phone</label>
                     <input type="text" ngModel name="phone" class="form-control" id="phone" placeholder="Phone" required>
                  </div>
                  <div class="form-group">
                     <label for="address">Adress</label>
                     <input type="text" ngModel name="address" class="form-control" id="address" placeholder="Address" required>
                  </div>
                  <div class="modal-footer">
                     <button type="button" id="add-visitor-form" class="btn btn-secondary" data-dismiss="modal" (click)="onCloseModal()">Close</button>
                     <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" (click)="onCloseModal()">Save</button>
                  </div>
                  </form>
               </div>
            </div>
         </div>
      </div>


      <!-- Edit Visitor Modal -->
      <div class="modal fade" id="updateVisitorModal" tabindex="-1" role="dialog" aria-labelledby="VisitorEditModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="updateVisitorModalLabel">Edit Visitor {{editVisitor?.lastName}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseModal()">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <form #editForm="ngForm">
                     <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" ngModel="{{editVisitor?.firstName}}" name="firstName" class="form-control" id="firstName" aria-describedby="emailHelp" placeholder="First Name">
                     </div>
                     <input type="hidden" ngModel="{{editVisitor?.visitorId}}" name="visitorId" class="form-control" id="visitorId" placeholder="Email">
                     <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" ngModel="{{editVisitor?.lastName}}" name="lastName" class="form-control" id="lastName" placeholder="Last Name">
                     </div>
                     <div class="form-group">
                        <label for="email">Email Adress</label>
                        <input type="email" ngModel="{{editVisitor?.email}}" name="email" class="form-control" id="email" placeholder="Email">
                     </div>
                     <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="text" ngModel="{{editVisitor?.phone}}" name="phone" class="form-control" id="phone" name="phone" placeholder="Phone">
                     </div>
                     <div class="form-group">
                        <label for="address">Adress</label>
                        <input type="text" ngModel="{{editVisitor?.address}}" name="address" class="form-control" id="address" name="address" placeholder="Address">
                     </div>
                     <div class="modal-footer">
                        <button type="button" id="" data-dismiss="modal" class="btn btn-secondary" (click)="onCloseModal()">Close</button>
                        <button (click)="onUpdateVisitor(editForm.value)" data-dismiss="modal" class="btn btn-primary" (click)="onCloseModal()">Save changes</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>

      <!-- Delete Visitor Modal -->
      <div class="modal fade" id="deleteVisitorModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="deleteModelLabel">Delete Visitor</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseModal()">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <p>Are you sure you want to delete Visitor {{deleteVisitor?.lastName}}?</p>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onCloseModal()">No</button>
                     <button (click)="onDeleteVisitor(deleteVisitor?.visitorId)" class="btn btn-danger" data-dismiss="modal" (click)="onCloseModal()">Yes</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
</div>
